<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.priyankaj.doctorsapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/myTheme">
        <activity android:name=".ui.CatergoryActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.DoctorListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.Details"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.DoctorDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.Slider"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/myTheme.NoActionBar">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".ui.AboutActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.VisionActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.CityListActivity"
            android:screenOrientation="portrait"/>

        <!--Added these two Services -->
        <service
            android:name=".notifications.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".notifications.MyFireBaseInstanceIdService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>